<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- 可选的Bootstrap主题文件（一般不使用） -->
    <script src="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap-theme.min.css"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://apps.bdimg.com/libs/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <title>详细信息</title>
</head>
<body>
<div class="well">
    <form action="{% url 'editaction' %}" method="post">
        {% csrf_token %}
        <div class="input-group">

            <span class="input-group-addon">取快递地点</span>
            <input type='text' name="NewWhereUP" class="form-control">
        </div>


        <div class="input-group">
            <span class="input-group-addon">收快递地点 </span>
            <input type='text' name="NewWhereDown" class="form-control">
        </div>

        <div class="input-group">
            <span class="input-group-addon">收件人电话</span>
            <input type='text' name="NewWherePhone" class="form-control">
        </div>

        <div class="input-group">
            <span class="input-group-addon">收件人姓名</span>
            <input type='text' name="NewWhereHost" class="form-control">
        </div>
        <input type="submit" value="提交">

    </form>
</div>
</body>
</html>
