<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#example-navbar-collapse">
            <span class="sr-only">切换导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">{{ request.user }}</a>
    </div>
    <div class="collapse navbar-collapse" id="example-navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a herf ="#">学号{{ user.userprofile.userID }} <span class="label label-primary">普通</span> </a>
</li>
              <li role="separator" class="divider"></li>
            <li><a href="/user">个人主页 <span class="badge">3</span> </a></li>
            <li><a href="{% url 'logout' %}">退出</a></li>
        </ul>
    </div>
</nav>
<div class="page-header text-center">
    <h2>帮我跑跑
        <small>代取快递列表</small>
    </h2>
</div>
<div class="text-center">
    <p class="text-primary"><span class="glyphicon glyphicon-map-marker"> </span>取件地&nbsp;&nbsp;<span class="glyphicon glyphicon-send"></span>送达地</p>
</div>

<div class="well text-center">
    {% for mail in mails %}
        <a href="{% url 'mail_page' mail.id %}" class="list-group-item"> <span class="glyphicon glyphicon-map-marker"></span>{{ mail.WhereUP }}&nbsp;&nbsp;<span class="glyphicon glyphicon-send"></span>{{ mail.WhereDown }}
        </a>
    {% endfor %}
</div>
 <a href="{% url 'new_mail' %}" type="button" class="btn btn-primary btn-block btn-lg">提交新快递</button> </a>

</body>

</html>
