<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <!--we_ui -->
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% comment %}去除点击时候的下划线{% endcomment %}
    <style type="text/css">
        a:active{
            text-decoration: none;
        }
    </style>

    <title>详情</title>
</head>
<body>


<div class="page-header text-center">
    <h1>帮我跑跑
        <small>当前快递详细信息</small>
    </h1>
</div>
<div class="container">
    {% if mail.Situation == 1 and mail.Take_user == request.user %}
        <div class="alert alert-warning alert-dismissable">
            你已经成功领取快递，请不要泄露本页信息给他人
        <br>
        </div>
        <!--        -->
        <div class="weui-form-preview">
         <div class="weui-form-preview__hd">
                        <label class="weui-form-preview__label">状态</label>
                      <span class="weui-form-preview__value label label-warning">正在帮跑</span>
         </div>
                  <div class="weui-form-preview__bd">
                        <div class="weui-form-preview__item">
                          <label class="weui-form-preview__label">出发地</label>
                          <span class="weui-form-preview__value">  {{ mail.WhereUP }}&nbsp; </span>
                        </div>
                        <div class="weui-form-preview__item">
                          <label class="weui-form-preview__label">到达地</label>
                          <span class="weui-form-preview__value"> {{ mail.WhereDown }}</span>
                        </div>
                        <div class="weui-form-preview__item">
                          <label class="weui-form-preview__label">收件人姓名</label>
                          <span class="weui-form-preview__value"> {{ mail.Host_user.userprofile.myname }}</span>
                        </div>
                        <div class="weui-form-preview__item">
                          <label class="weui-form-preview__label">收件人手机号码</label>
                          <span class="weui-form-preview__value"> {{ mail.Host_user }}</span>
                        </div>
                        <div class="weui-form-preview__item">
                          <label class="weui-form-preview__label">快递其他信息</label>
                          <span class="weui-form-preview__value"> {{ mail.Detail }}</span>
                        </div>
                        <div class="weui-form-preview__item">
                          <label class="weui-form-preview__label">发送时间</label>
                          <span class="weui-form-preview__value"> {{ mail.Push_time }}</span>
                        </div>
                  </div>
        </div>
         <!--        -->
    {% elif mail.Situation == 1 and mail.Host_user == request.user %}
        <div class="weui-form-preview">
         <div class="weui-form-preview__hd">
                        <label class="weui-form-preview__label">状态</label>
                      <span class="weui-form-preview__value   label label-success">准备签收</span>
         </div>
                  <div class="weui-form-preview__bd">
                        <div class="weui-form-preview__item">
                          <label class="weui-form-preview__label">出发地</label>
                          <span class="weui-form-preview__value">  {{ mail.WhereUP }}&nbsp; </span>
                        </div>
                        <div class="weui-form-preview__item">
                          <label class="weui-form-preview__label">到达地</label>
                          <span class="weui-form-preview__value"> {{ mail.WhereDown }}</span>
                        </div>
                        <div class="weui-form-preview__item">
                          <label class="weui-form-preview__label">快递其他信息</label>
                          <span class="weui-form-preview__value"> {{ mail.Detail }}</span>
                        </div>
                        <div class="weui-form-preview__item">
                          <label class="weui-form-preview__label">发送时间</label>
                          <span class="weui-form-preview__value"> {{ mail.Push_time }}</span>
                        </div>
                        <div class="weui-form-preview__item">
                          <label class="weui-form-preview__label">快递员</label>
                          <span class="weui-form-preview__value"> {{ mail.Take_user.userprofile.myname }}</span>
                        </div>
                  </div>
         <div class="weui-form-preview__ft">
            <a class="weui-form-preview__btn weui-form-preview__btn_default">催促</a>
            <a  class="weui-form-preview__btn weui-form-preview__btn_primary" href="{% url 'get' mail.id %}">签收</a>
        </div>
        </div>
    {% elif mail.Situation == 0 and mail.Host_user != request.user%}
        <div class="alert alert-info">点击领取即表示你同意本网站所有条款<br>我们会依法追究丢包，私自藏包等问题</div>
       <!--        -->
        <div class="weui-form-preview">
         <div class="weui-form-preview__hd">
                        <label class="weui-form-preview__label">状态</label>
                       <span class="weui-form-preview__value label label-default">等待领取</span>
         </div>
                  <div class="weui-form-preview__bd">
                        <div class="weui-form-preview__item">
                          <label class="weui-form-preview__label">出发地</label>
                          <span class="weui-form-preview__value">  {{ mail.WhereUP }}&nbsp; </span>
                        </div>
                        <div class="weui-form-preview__item">
                          <label class="weui-form-preview__label">到达地</label>
                          <span class="weui-form-preview__value"> {{ mail.WhereDown }}</span>
                        </div>
                        <div class="weui-form-preview__item">
                          <label class="weui-form-preview__label">发送时间</label>
                          <span class="weui-form-preview__value"> {{ mail.Push_time }}</span>
                        </div>
                  </div>
         <div class="weui-form-preview__ft">
            <a  class="weui-form-preview__btn weui-form-preview__btn_primary" href="{% url 'take' mail.id %}">点击领取</a>
        </div>
        </div>
{#        <p class="list-group-item "><span class="glyphicon glyphicon-map-marker"></span> 取快递地点 {{ mail.WhereUP }}</p>#}
{#        <p class="list-group-item "><span class="glyphicon glyphicon-send"></span> 收快递地点 {{ mail.WhereDown }}</p>#}
{#        <a href="{% url 'take' mail.id %}" type="button" class="btn btn-primary btn-block btn-lg">点击领取</button> </a>#}
    {% elif mail.Situation == 0 and mail.Host_user == request.user%}
        <div class="alert alert-warning">你已成功发布快递，取消将会扣除友善度。</div>
        <div class="weui-form-preview">
         <div class="weui-form-preview__hd">
                        <label class="weui-form-preview__label">状态</label>
                       <span class="weui-form-preview__value label label-default">等待领取</span>
         </div>
                  <div class="weui-form-preview__bd">
                        <div class="weui-form-preview__item">
                          <label class="weui-form-preview__label">出发地</label>
                          <span class="weui-form-preview__value">  {{ mail.WhereUP }}&nbsp; </span>
                        </div>
                        <div class="weui-form-preview__item">
                          <label class="weui-form-preview__label">到达地</label>
                          <span class="weui-form-preview__value"> {{ mail.WhereDown }}</span>
                        </div>
                        <div class="weui-form-preview__item">
                          <label class="weui-form-preview__label">发送时间</label>
                          <span class="weui-form-preview__value"> {{ mail.Push_time }}</span>
                        </div>
                  </div>

        </div>
         <a  class=" weui-btn weui-btn_warn" href="{% url 'quxiao' mail.id %}">点击取消</a>
{#            <br>你当前信誉分数为{{ user.userprofile.kind_num}}#}
{#        <p class="list-group-item "><span class="glyphicon glyphicon-map-marker"></span> 取快递地点 {{ mail.WhereUP }}</p>#}
{#        <p class="list-group-item "><span class="glyphicon glyphicon-send"></span> 收快递地点 {{ mail.WhereDown }}</p>#}
{#        <p class="list-group-item "><span class="glyphicon glyphicon-send"></span> 快递其他信息 {{ mail.Detail }}</p>#}
{#        <br>#}
{#        <a href="{% url 'quxiao' mail.id %}" type="button" class="btn btn-primary btn-block btn-lg">点击取消</button> </a>#}
    {% elif mail.Situation == 2 and mail.Host_user == request.user%}
        <div class="alert alert-success">已经完成！这是个你的快递被志愿者领取，并且你也确定收到后才会出现的页面!
        <br>我们将在以后推出点赞，打赏等功能！尽情期待</div>
     {% elif mail.Situation == 2 and mail.Take_user == request.user%}
         <div class="alert alert-success">已经完成！你帮助同学完成了一次快递！并且他/她也确认收到后才会看到的页面
        <br>我们将在以后推出点赞，打赏等功能！尽情期待
         </div>
    {% endif %}
</div>

<div class="weui-tabbar">
    <a href="{% url 'index' %}" class="weui-tabbar__item">
    {% comment %}  <span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span>{% endcomment %}
      <div class="weui-tabbar__icon">
        <img src="http://onbwt5j59.bkt.clouddn.com/204%E9%A6%96%E9%A1%B5-%E7%BA%BF%E6%80%A7.png" alt="">
      </div>
      <p class="weui-tabbar__label">广场</p>
    </a>

    <a href="{% url 'new_mail' %}" class="weui-tabbar__item" >
      <div class="weui-tabbar__icon">
        <img src="http://onbwt5j59.bkt.clouddn.com/16%E5%AF%84%E4%BB%B6%E3%80%81%E5%8F%91%E9%80%81.png" alt="">
      </div>
      <p class="weui-tabbar__label">发布</p>
    </a>
    <a href="{% url 'doing' %}" class="weui-tabbar__item">
      <div class="weui-tabbar__icon">
        <img src="http://onbwt5j59.bkt.clouddn.com/51%E5%BF%AB%E9%80%92%E5%91%98-%E7%BA%BF%E6%80%A7%20%281%29.png" alt="">
      </div>
      <p class="weui-tabbar__label">进行</p>
    </a>

    <a href="{% url 'user' %}" class="weui-tabbar__item">
      <div class="weui-tabbar__icon">
        <img src="http://onbwt5j59.bkt.clouddn.com/iconfont-mingpian.png" alt="">
      </div>
      <p class="weui-tabbar__label">个人</p>
    </a>
  </div>

<div class="weui-footer ">
  <p class="weui-footer__text">Copyright © 2017 青协帮跑</p>
</div>
<script src="http://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
</body>
</html>
