<!DOCTYPE html>
<html lang="zh-cn">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <!--we_ui -->
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% comment %}去除点击时候的下划线{% endcomment %}
    <style type="text/css">
        a:active{
            text-decoration: none;
        }
    </style>
    <title>个人页面</title>
</head>
<body>

<div class="page-header text-center">
    <h1>帮我跑跑
        <small>个人</small>
    </h1>
</div>
<div class="container">
    <a href="{% url 'logout' %}" class="weui-btn weui-btn_plain-default">退出</a>
    <br>
        <div  id="more_info">
            <ul class="list-group">
                <li class="list-group-item">登录名:{{ user.userprofile.username }}</li>
                <li class="list-group-item">手机号码:{{ user.userprofile.userphone }}</li>
                <li class="list-group-item">个人姓名:{{ user.userprofile.myname }}</li>
                <li class="list-group-item">学号:{{ user.userprofile.userID }}<span class="label label-primary">已认证</span></li>
                <li class="list-group-item">发布:{{ user.userprofile.please_num }}</li>
                <li class="list-group-item">帮跑:{{ user.userprofile.do_num }}</li>
                <li class="list-group-item">志愿时长:{{ user.userprofile.zhiyuan}}<span>小时</span></li>
            </ul>
        </div>
        <div id="please_mail">
                {% for mail in mails %}
                    {% if mail.Situation == 2 and mail.Host_user == request.user %}
                        <a href="{% url 'mail_page' mail.id %}"
                           class="list-group-item">
                            <span class="glyphicon glyphicon-map-marker"></span>
                            {{ mail.WhereUP }}&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-send"></span>
                            {{ mail.WhereDown }}
                            <span class="label label-success">成功收取</span>
                        </a>
                    {% endif %}
                {% endfor %}
        </div>
        <div id="take_mail">
                {% for mail in mails %}
                    {% if mail.Situation == 2 and mail.Take_user == request.user %}
                        <a href="{% url 'mail_page' mail.id %}" class="list-group-item"> <span class="glyphicon glyphicon-map-marker"></span>
                            {{ mail.WhereUP }}&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-send"></span>
                            {{ mail.WhereDown }}
                        <span class="label label-success">成功帮跑</span>
                        </a>
                    {% endif %}
                {% endfor %}
        </div>

</div>

<div class="weui-footer ">
    <a href="{% url 'xieyi' %}"  class="weui-footer__link">反馈与协议</a>
  <p class="weui-footer__text">Copyright © 2017 青协帮跑</p>
</div>

<div class="weui-tabbar">
    <a href="{% url 'index' %}" class="weui-tabbar__item">
    {% comment %}  <span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span>{% endcomment %}
      <div class="weui-tabbar__icon">
        <img src="http://onbwt5j59.bkt.clouddn.com/204%E9%A6%96%E9%A1%B5-%E7%BA%BF%E6%80%A7.png" alt="">
      </div>
      <p class="weui-tabbar__label">广场</p>
    </a>

    <a href="{% url 'new_mail' %}" class="weui-tabbar__item" >
      <div class="weui-tabbar__icon">
        <img src="http://onbwt5j59.bkt.clouddn.com/16%E5%AF%84%E4%BB%B6%E3%80%81%E5%8F%91%E9%80%81.png" alt="">
      </div>
      <p class="weui-tabbar__label">发布</p>
    </a>
    <a href="{% url 'doing' %}" class="weui-tabbar__item">
      <div class="weui-tabbar__icon">
        <img src="http://onbwt5j59.bkt.clouddn.com/51%E5%BF%AB%E9%80%92%E5%91%98-%E7%BA%BF%E6%80%A7%20%281%29.png" alt="">
      </div>
      <p class="weui-tabbar__label">进行</p>
    </a>

    <a href="{% url 'user' %}" class="weui-tabbar__item weui-bar__item--on">
      <div class="weui-tabbar__icon">
        <img src="http://onbwt5j59.bkt.clouddn.com/iconfont-mingpian.png" alt="">
      </div>
      <p class="weui-tabbar__label">个人</p>
    </a>
  </div>

</body>
</html>