<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <!--we_ui -->
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% comment %}去除点击时候的下划线{% endcomment %}
    <style type="text/css">
        a:active{
            text-decoration: none;
        }
    </style>
    <title>协议</title>
</head>
<body>
<div class="page-header text-center">
    <h1>帮我跑跑
        <small>协议</small>
    </h1>
</div>
    <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=d106bb8554915ed076550e880fded53d968cc7a1c8108644f1c3551ca88f3911"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="帮我跑跑内测问题反馈" title="帮我跑跑内测问题反馈">反馈群:551782895</a>
<article class="weui-article">
    <section>
        <section>
            <p>
                1:所有自愿使用帮我跑跑平台的用户默认同意以下协议；<br>
2:用户自行关注航宇说，注册账号，账号统一为学号，密码自拟，并绑定手机号;<br>
3:帮我跑跑平台为快递代取交易平台，若发生快递丢失、损坏的情况，与帮我跑跑无关，请预约者和志愿者之间自行解决;<br>
4:平台承诺对用户的信息绝对保密，保证用户隐私安全;<br>
5:“帮我跑跑”不接受货到付款订单，不接受超出搬运能力范围的订单，不接受外观受损的订单等一切可能引起志愿者与预约者出现纷争的订单 ;<br>
6:对于订单投诉，平台管理者将先进行核查，一旦投诉情况属实，会给予相应用户惩罚;<br>
7:帮我跑跑内部人员会在 (13点，18点，19-21点) 时间段上线，有什么问题可以与干事联系，干事也会处理相关的投诉问题和快递纠纷。<br>
            </p>
        </section>
        <section>
            <h3>【志愿者注意事项】</h3>
            <p>
                1:受理订单后，志愿者需及时和预约者联系，确定送达快递的时间和地点，要及时领取，确保快递准时面对面交付。<br>
2:若不能及时送达快递，志愿者需提前与预约者联系，告知相关情况，并与之确定送达快递的时间；
3:志愿者受理快递后，需保持当天手机畅通，快递代取期间内，任何与快递相关的疑问请自行与预约者联系。<br>
4:志愿者时长认证请于第二周到小红帽自行申请认证<br>
            </p>
        </section>
        <section>
            <h3>【预约者注意事项】</h3>
            <p>
               1、预约者信息（如姓名、学号、手机号）、快递信息应具体准确，确保快递准确送达；<br>
2、非限时快递若在预约三(五)小时后无志愿者受理或限时快递若在规定时间内无人受理，系统将自动删除该快递预约；<br>
3、快递送达时间、地点如有问题或者临时取消预约，请事先与志愿者协商（志愿者信息将在志愿者受理预约后给出）；<br>
4、如果出现快递志愿者运送破损或丢失，请与志愿者协商，本平台恕不负责。<br>
以上规范由帮我跑跑团队制定并执行，帮我跑跑平台用户需严格遵守，一切解释权归帮我跑跑平台所有
            </p>
        </section>
    </section>
</article>
<div class="weui-footer ">
  <p class="weui-footer__text">Copyright © 2017 青协帮跑</p>
</div>
</body>
</html>